= render "layouts/manage/page_title", title: t(:title, scope: 'pages.manage.webhooks') do
  = link_to "New Webhook", new_manage_webhook_path, class: "btn btn-sm btn-outline-secondary"

.mb-4
  %table.webhooks.datatable.table.table-striped.table-hover{ data: { "source" => datatable_manage_webhooks_path(format: :json), "auto-datatable": true } }
    %thead
      %tr
        %th{ 'data-table': { data: 'link' } }
        %th{ 'data-table': { data: 'id' } } ID
        %th{ 'data-table': { data: 'active' } } Active
        %th{ 'data-table': { data: 'format' } } Format
        %th{ 'data-table': { data: 'url' } } URL
        %th{ 'data-table': { data: 'created_at' } } Created At
    %tbody
