= link_to user_discord_omniauth_authorize_path, class: 'button my-mlh-cta__button', method: :post do
  %span.my-mlh-cta__text Continue with
  %span.my-mlh-cta__image-wrapper
    = image_tag 'discord.svg', alt: 'Discord', class: 'my-mlh-cta__image', style: "height: 50px"
    %span.fa.fa-chevron-right.my-mlh-cta__icon
